*{
    padding: 0px;
    margin: 0px;
}
.top{
    height: 55px;
    background-color:#2a3855;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.ul1{
    display: flex;
    margin: 0rem 4rem;
}
.ul1 li{
    color: white;
    list-style: none;
    padding: 0px 10px;
    font-weight: bold;
}
#right{
    /* position: absolute; */
    right: 15px;
    color: white;
    list-style: none;
}
.top-1{
    width: 60%;
    display: flex;
   
    
}
.top-2{
    /* position: relative; */
    width: 40%;
    /* display: flex;
    justify-content: right;
    float: right;
     */
}
#right{
    font-weight: bold;
    float: right;
    margin: 0rem 4rem;
}
/* HEADER OVER....................................................  */
.utility{
    width: 100%;
    height: 55px;
    position:absolute;
    
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(239,239,247,0.7516048655790442) 0%, rgba(255,255,255,0.7516048655790442) 100%);
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    z-index: 10;
    
    
}
.navmain{
    display: flex;
    list-style: none;
    padding: 0rem 5rem;
    padding-top: 0.8rem;
    align-items: center;
}

.navmain li{
    padding: 0rem 2rem;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.navmain li a{
    color: #2a3855;
    text-decoration: none;
}

.navmain li:hover{
    background-color:rgb(253, 212, 40);
    border-radius: 5rem;
}
.logo img{
    
    margin-left: 5rem;
    height:5rem ;   
    
}

.btn button{
    color: #2a3855;
    font-weight: bold;
    background-color: white;
    border:3px solid #2a3855;
    border-radius: 15px;
    padding: 4px 20px;
    

}
.btn{
    margin-left:25rem ;
}
/* /////////////////////////////////////////////ober///////// */
/* .main{
    position: relative;
}
.caro{
    position:absolute; 
 } */
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }
/* /////////////////////////////////////  */
.test{
    border: 2px solid red;
    color: white;
}
.caro{position:relative;}

#btn-1{
 margin: 0rem 1rem;
 padding:1rem 4rem;
 background-color: #2a3855;
}
#btn-2{
    margin: 0rem 1rem;
    padding:1rem 3rem;
    background-color: #fdd428;
    color: #2a3855;
   }
.box-1{
    height: 80%;
    width: 70%;
    position:relative;
    
    margin-bottom:16rem ;
   
    ;

    /* float: left; */
    /* align-items: ;
    justify-content: left; */
   
}
#test{
    float: left;
    margin-right: 80px;
    padding: 10px 0px;
 
    
}   
#heading{

    text-align: left;
    font-size: 4rem;
    font-weight: bold;
    color: #2a3855;
    padding-bottom:1rem ;
}
#para{
    text-align: left;
    font-size: 2rem;
    color:#2a3855 ;
    padding-bottom: 1rem;
    
}
.welcome{
    
    /* border: 2px solid rgb(230, 2, 2); */
    height: 630px;
    /* position: relative; */
    width: 100%;
   
}
.wel{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:4px ;
    height:200px;
}
.main{
    position: relative;
}
#para-1{
    text-align: center;
    font-size: 1.8rem;
    color:#2a3855 ;
    width: 45%;
        
}
#newhr{
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #2a3855;
    width: 100px;
    height: 2px;
}
.logo-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size:45Px;
    width: 20%;
    padding: 0px 10px;
    /* border: 2px solid blue; */
}
.down{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    position: relative;
    /* border: 2px solid green; */
    height: 350px;
    
}
.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color:#ffffff;
    border: 2px solid rgb(201, 197, 197);
    border-radius: 50%;
    width: 75px;
    /* margin: 0px 150px; */
}
#heading-1{
    font-size:2.5rem;
    font-weight: bold;
    color: #2a3855;
    align-items: center;
}

#para-2{
    text-align: center;
    font-size: 1.5rem;
    color:#2a3855 ;
    width: 100%;
        
}
/* ////////////////////////////////////Video///////////////////////////////////////  */
.video{
    /* border: 2px solid red; */
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.em{
    height: 450px;
    width: 800px;
}
.video-img{
    height: 600px;
    width: 1100px;
    position:absolute;
    border-radius: 7px;
    
}
.play{
    position:absolute;
    z-index: 100;
    font-size:20px;
    color: rgb(0, 0, 0);
    padding: 16px 23px;
    background-color: white;
    border-radius: 50%; ;
}
.play-1{
   position: absolute;
   background-color: rgba(255, 255, 255, 0.712); 
   height: 75px;
   z-index:99;
   width: 75px;
   border-radius:50% ;
}
/* ///////////////////////////////// after video///////////////////////////////////  */
.team{
    /* border: 2px solid red; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-1{
     width: 30%;
    /* border: 2px solid green; */
    margin:0px 5px ;
    padding: 0px 45px;
}
#para-3{
    font-size: 1.5rem;
    color: #2a3855;
}
/* /////////////////////////////Services//////////////////////////  */
.services{
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}
.cards{

    display: flex;
    /* justify-content: center; */
    align-items: center;

    height: 300px;
    width: 80%;
    /* border: 2px solid green; */
}
.inner-cards{
    margin: 0px 15px;
}
.inner-cards img{
    margin: 0px 63px;
    width: 484px;
}
.team-2{
    /* border: 2px solid red; */
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* //////////////////////////// why choose exilir/////////////////  */

.choose-main{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 141px;
   
    /* border: 2px solid red; */
}
.choose-2{
    /* border: 2px solid green; */
    margin-left:0px 20px;
    padding: 0px 53px;
}
.prof{
    margin-top: 41px;
}
.choose-1 img{
    border-radius: 7px;
    margin-top: 26px;
}
/* ///////////////////////////choose over//////////////////////  */
/* //////////////contact us///////////  */
.query{
    /* border: 2px solid green; */
    height: 150px;
    background-color: #2a3855;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 128px 0px;
}
#hh{
    color: #ffffff;
    font-size:35px;
}  
.query button{
    background-color: #ffffff;
    border-radius: 40px;
    padding:12px 30px;
    margin-top: 12px; 
    margin-left: 35px;
}
/* /////////////////////things you get//////////////////  */

.wel-1{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:4px ;
    height:170px;
}
.down-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top:40px;
     ;
}
.logo-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size:45Px;
    width: 40%;
    padding: 0px 17px;
    margin: 0px 10px;
    /* border: 2px solid blue; */
}
.welcome-1{
    
    /* border: 2px solid rgb(230, 2, 2); */
    height: 530px;
    /* position: relative; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
/* //////////////////////////////Request a call back/////////////////////  */
.request{
    /* border: 2px solid green; */
    height: 300px;
    background-color: #2a3855;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}
#callh{
  color:white;
  font-size: 25px;
  font-weight: bold;
}
#callp{
    color: white;
    text-align: center;
}
.request-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 2px solid rgb(238, 184, 7);
    border-radius: 10px;
    padding: 15px 40px;
}
.request-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.request-2{
    margin-left:25px ;
}
#fname{
    padding: 8px 80px;
    border-radius: 7px;
    margin: 10px 15px;
}
.inform button{
    padding: 8px 147px;
    border-radius: 7px;
    margin: 11px 17px;
    background-color:#fdd428; ;
}
.inheading{
    margin: 0px 17px;
}
/* /////////////////////requestt///////////////////////  */

.welcome-5{
    
    /* border: 2px solid rgb(230, 2, 2); */
    height: 1000px;
    /* position: relative; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  /* ///////////////////right////////////////    */
  .step{
      position: relative;
      margin-top: 85px;
      width: 100%;
    height: 450px;
      /* border: 2px solid red; */
     
  }
  .imgop{
      position:absolute;
      width: 100%;
      z-index:100;
  }
  .stepinner-main{
      height: 100%;
      width: 80%;
      position:absolute;
      /* background-color: #2a3855;
      opacity: 0.5; */
      z-index: 200;
      margin-left: 40px;
      
  }
  .stepinner-1{
      margin-top: 85px;
     
  }
  .background{
      position:absolute;
      background-color: #2a3855;
      /* border: 2px solid red; */
      height: 450px;
      width: 100%;
      z-index:150;
      opacity: 0.8;}
     
 
  .ul-1{
      display: flex;
      list-style: none;
  }
  .ul-1 li{
      padding: 0px 35px;
      margin-top: 65px;
      margin-left: 20px;
  }
  #hh-1{
    color: #ffffff;
    font-size:60px;
    font-weight: bold;
  }
  #pp-1{
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
  }
  /* /////////////////Curosal div/////////////  */
  .img-cur{
      border: 2px solid red;
      height: 250px;
      margin: 80px 0px;
  }
  /* /////////////////////Brand logos///////////////// */
  .brand{
      display: flex;
      justify-content: center;
      align-items: center;
    background-color: rgba(220, 224, 228, 0.884);
    height: 150px;
    margin: 80px 0px;
}
.ul-2 li{
    list-style: none;
    padding: 0px 45px;
}
.ul-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* /////////////////latest news///////////////////  */
.welcome-6{
    
    /* border: 2px solid rgb(230, 2, 2); */
    /* height: 1000px; */
    /* position: relative; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
 /* //////////////Fotter////////////////////     */
 .footer{
   
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 80px;
     height:400px;
     background-color: #3D4C6F;
 }
 .footer-main{
     display: flex;
 }
 .footer-1{
     padding: 59px 100px;
     border-radius: 20px;
     background-color: #2a3855;
     /* border: 2px solid red; */
 }
 .footer-1 input{
padding: 8px 10px;
border-radius: 5px;
 }
 .footer-1 button{
     border-radius: 5px;
   background-color: #fdd428;
     padding:8px 50px;
 }
 .footer-2{
     /* border: 2px solid green; */
     display: flex;
 }
 
 .links li{
     list-style: none;
     padding: 10px 0px;

 }
 .links li a{
     color: white;
     font-weight: bold;
     font-size: 20px;
 }
.footerright-1,.footerright-2{
    margin: 0px 65px;
}
/* //////////////////////last///////////// */
.last{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2a3855 ;
}
